<div class="row">
	<div class="">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>
						Status
					</td>
					<% @employees.each do |employee| %>
						<td>
							<%= employee.first_name || employee.email %>
						</td>
					<% end %>
				</tr>
			</thead>
		</table>
	</div>
</div>