<!DOCTYPE html>
<html>
<head>
  <title>You are not allowed to access this page</title>
</head>
<body>
  <div class="dialog">
    <h1>You are <span style="color:red;">not</span> allowed to access this page</h1>
    <p>Reasons could be one of the below</p>
    <ol>
      <li>The permission associated with this page does <b>not exist in system's database</b></li>
      <li>The <b>group</b> to which you belong to does not have permission to access this page</li>
    </ol>
  </div>
</body>
</html>